<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutadmin"
      lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>sdadas
<section layout:fragment="contentadmin">
    <table>
        <thead>
        <tr>
            <th> ID </th>
            <th> Status </th>
        </tr>
        </thead>
        <tbody>
       <!-- <tr th:if="${bikesList.empty}">
            <td colspan="2"> Nie ma zadnych rowerów </td>
        </tr>-->
        <tr th:each="bike : ${bikesList}">
            <td><span th:text="${bike.getId()}"> Id </span></td>
            <td><span th:text="${bike.getStatus()}"> Status </span></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
