<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .text{
            font-style: normal;
            font-size: 36px;
            margin-top: 200px;
            color: dimgrey;
        }

    </style>
</head>
<body>
<section layout:fragment="content">
    <div class="text">
        We are an ambitious group named JuniorCodeBreakers. I would like to tell something more about ourselves, but the RODO does not allow it.</div>
</section>
</body>
</html>