<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .text {
            font-style: normal;
            font-size: 36px;
            margin: 10px 10px 10px 10px;
            color: dimgrey;
        }
        .button {
            width: 100px;
            height: 30px;
            color: aqua;
        }

    </style>
</head>
<body>
<section layout:fragment="content">
        <div class="container">
                <p>Imię: <span th:text="${user.getFirstname()}">Imie</span></p>
                <p>Nazwisko: <span th:text="${user.getLastname()}">Nazwisko</span></p>
                <p>Email: <span th:text="${user.getEmail()}">Email</span></p>
                <p>Rola: <span th:text="${role}">Rola</span></p>
        </div>
    <!--<form th:action="@{/users/delete}" th:method="post">
                <button name="delete" type="submit">Usuń konto</button>
    </form>-->
    </section>
    </body>
    </html>