<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .text{
            font-style: normal;
            font-size: 36px;
            margin-top: 200px;
            color: dimgrey;
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <div class="text">Opcja na pożyczanie roweru i ewentualny jego zwrot o ile nie rozbijemy tego na kolejna zakładkę "zwróć".</div>
</section>
</body>
</html>