<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>User Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<section layout:fragment="content">
<div class="container">

    <div>
        <div>
            <div>
                <span th:utext="${userName}"></span>
            </div>

            <p th:utext="${userMessage}"></p>
            <p sec:authorize="isAuthenticated()">
                | Logged user: <span th:text="${user.getFirstname()}"></span>
                <span th:text="${user.getLastname()}"></span>|
                Roles: <span th:text="${role}"></span> |
            </p>
        </div>
    </div>

</div>
</section>
</body>
</html>